/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Quicksand', sans-serif;
    /* COLORS */
    --container: rgb(0, 129, 201);
    --item: rgb(255, 177, 0);
    --property: rgb(194, 82, 223);
    --value: yellow;
    --comment: gray;
    --alice-blue: aliceblue;
    --dark-blue: rgb(29, 29, 37);
    --grayish-blue: rgb(40, 40, 49);
    /* SIZES */
    --section-width: 480px;
    --margin: 1rem;
    --border: 2px;
    --item-width: calc((var(--section-width) - (var(--margin) * 2 + var(--border) * 2)) / 4);
    --body-padding: 20px;
}

html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grayish-blue);
    padding: 0 20px;
}

section {
    margin-bottom: 2.5rem;
    width: min(var(--section-width), calc(100vw - var(--body-padding) * 2));
}

h1 {
    color: var(--alice-blue);
    margin-top: 4rem;
    margin-bottom: var(--margin);
}

.container, .code-div {
    border-radius: 10px;
    margin: var(--margin) 0;
}

.container, .item {
    border: var(--border) solid var(--dark-blue);
}

.container {
    display: grid;
    background-color: var(--container);
    color: var(--dark-blue);
    font-weight: 700;
    height: calc(var(--section-width) * 0.6);
}

.item {
    background-color: var(--item);
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    text-align: center;
}

.code-div {
    color: var(--alice-blue);
    padding: var(--margin);
    background-color: var(--dark-blue);
}

.container-color {
    color: var(--container);
}

.item-color {
    color: var(--item);
}

.property-color {
    color: var(--property);
}

.value-color {
    color: var(--value);
}

.comment-color {
    color: var(--comment);
}

select, input {
    background-color: var(--dark-blue);
    font-family: inherit;
    color: inherit;
    border: 1px solid gray;
    font-size: inherit;
}

input {
    width: 6ch;
    padding-left: 0.5ch;
}

/* NAV BAR */

.nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--dark-blue);
    width: 100%;
    height: 3rem;
    z-index: 10;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-bar a {
    color: var(--alice-blue); 
    background-color: inherit;
    height: 100%;
    line-height: 3rem;
    padding: 0 1rem;
    position: relative;
    z-index: 10;
}

a.home {
    padding-left: 2rem;
}

.guides-div {
    display: flex;
    position: absolute;
    transform: translateX(-19%);
    transition: translate 0.4s;
    background-color: var(--grayish-blue);
}

.translate {
    translate: 100%;
}

.sections {
    color: var(--alice-blue);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2rem;
    top: 4rem;
    background-color: var(--grayish-blue);
}

.sections p {
    font-weight: 700;
}

.sections a {
    color: inherit;
    margin: 0.2rem 0;
}

/* SECTION 0 */

.container0 {
    display: grid;
    padding: var(--margin);
    gap: calc(var(--margin) / 2);
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 4fr 2fr;
    grid-template-areas: 
    "a a "
    "b b"
    "c d "
    "e e";
}

.container0 p {
    text-align: center;
    grid-area: a;
}

.container0 div:nth-of-type(1) {
    grid-area: b;
}

.container0 div:nth-of-type(2) {
    grid-area: c;
}

.container0 div:nth-of-type(3) {
    grid-area: d;
}

.container0 div:nth-of-type(4) {
    grid-area: e;
}

/* SECTION 1: GRID-TEMPLATE-COLUMNS GRID-TEMPLATE-ROWS*/

.columns-none {
    grid-template-columns: none;
}

.columns-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}

.columns-1fr-2fr-1fr {
    grid-template-columns: 1fr 2fr 1fr;
}

.columns-80px-1fr-2fr {
    grid-template-columns: 80px 1fr 2fr;
}

.columns-auto-auto-auto {
    grid-template-columns: auto auto auto;
}

.columns-50percent-1fr-auto {
    grid-template-columns: 50% 1fr auto;
}

.columns-min-content-auto-max-content {
    grid-template-columns: min-content auto max-content;
}

.rows-none {
    grid-template-rows: none;
}

.rows-1fr-1fr {
    grid-template-rows: 1fr 1fr;
}

.rows-1fr-2fr-1fr {
    grid-template-rows: 1fr 2fr 1fr;
}

.rows-80px-1fr-2fr {
    grid-template-rows: 80px 1fr 2fr;
}

.rows-auto-auto-auto {
    grid-template-rows: auto auto auto;
}

.rows-50percent-1fr-auto {
    grid-template-rows: 50% 1fr auto;
}

/* SECTION 2 & 3: GRID-TEMPLATE-AREAS (AND SECTION 4)*/

.container2 {
    height: calc(var(--section-width) * 0.6);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        "a a a"
        "b c ."
        "b d .";
}

.container2 div:nth-of-type(1) {
    grid-area: a;
}

.container2 div:nth-of-type(2) {
    grid-area: b;
   
}

.container2 div:nth-of-type(3) {
    grid-area: c;
}

.container2 div:nth-of-type(4) {
    grid-area: d;
}

.container3 {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "sidebar content";
}

.container3 div:nth-of-type(1) {
    grid-area: header;
}

.container3 div:nth-of-type(2) {
    grid-area: sidebar;
}

.container3 div:nth-of-type(3) {
    grid-area: content;
}

/*  SECTION 4: GRID-COLUMN, GRID-ROW */

.container4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "sidebar content"
    "footer footer";
}

.container4 div:nth-of-type(1) {
    grid-area: sidebar;
}

.container4 div:nth-of-type(2) {
    grid-area: content;
}

.container4 div:nth-of-type(3) {
    grid-area: footer;
}

/* SECTION 5: GAP */

.container5 {
    grid-template-columns: repeat(3, 1fr);
}

.no-gap {
    gap: 0;
}

.small-gap {
    gap: 10px;
}

.small-big-gap {
    gap: 10px 20px;
}

.big-small-gap {
    gap: 20px 10px;
}

/* SECTION 6: JUSTIFY-CONTENT (AND 7)*/

.container6, .container7 {
    grid-template-columns: repeat(3, auto);
}

.container6 .item {
    width: 50px;
}

.justify-content-stretch {
    justify-content: stretch;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* SECTION 7: ALIGN-CONTENT */

.container7 .item {
    height: 50px;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-start {
    align-content: start;
}

.align-content-center {
    align-content: center;
}

.align-content-end {
    align-content: end;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

/* SECTION 8: JUSTIFY-ITEMS */

.container8 {
    grid-template-columns: 3fr 2fr 3fr;
}

.container8 .item {
    min-width: 50%;
}

.justify-items-stretch {
    justify-items: stretch;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-end {
    justify-items: end;
}

/* SECTION 9: ALIGN-ITEMS */

.container9 {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 2fr 3fr 2fr;
    
}

.container9 .item {
    min-height: 50%;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

/* SECTION 10: JUSTIFY-SELF */

.container10 {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a b b"
    "c c c"
    "d d e";
}

.container10 .item:nth-child(1) {
    min-width: min-content;
}

.container10 .item:nth-child(1) {
    min-width: min-content;
}

.container10 .item:nth-child(2) {
    grid-area: b;
}

.container10 .item:nth-child(3) {
    grid-area: c;
}

.container10 .item:nth-child(4) {
    grid-area: d;
}

.container10 .item:nth-child(5) {
    grid-area: e;
}

.justify-self-stretch {
    justify-self: stretch;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-end {
    justify-self: end;
}

/* SECTION 11: ALIGN-SELF */

.container11 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 2fr 3fr;
    grid-template-areas: 
    "a c d"
    "b c d"
    "b c e";
}

.container11 .item:nth-child(1) {
    min-width: min-content;
}

.container11 .item:nth-child(1) {
    min-width: min-content;
}

.container11 .item:nth-child(2) {
    grid-area: b;
}

.container11 .item:nth-child(3) {
    grid-area: c;
}

.container11 .item:nth-child(4) {
    grid-area: d;
}

.container11 .item:nth-child(5) {
    grid-area: e;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-start {
    align-self: start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

/* MEDIA QUERRIES */

@media (max-width: 900px) {
    .sections {
        position: sticky;
        top: calc(3rem - 1px);
        left: initial;
        height: 13rem;
        flex-wrap: wrap;
        width: min(calc(var(--section-width) + var(--body-padding) * 2), 100vw);
        margin-bottom: 2.5rem;
        padding: 1rem var(--body-padding);
    }

    .sections p {
        height: 100%;
    }

    html {
        scroll-padding-top: 16rem;
    }
}

@media (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    :root {
        font-size: 10px;
    }
}